

header
{
	display: flex;
	justify-content: space-between;
	align-items:space-around;
	position: relative;

}
#logo img
{
	color: #0065FC;
	width: 4em;
}

nav ul  
{
	list-style-type:none;
	display: flex;
	position: absolute;
	left: 50em;	
}

nav li
{
	margin-left: 20px;
	text-align: left;		
}

nav a
{
	font-size: 0.8em;
	color: black;
	padding-bottom: 0.5px;
	text-decoration: none;
}

nav a:hover
{
	color:#0065FC;
	border-top: 2px solid #0065FC;
	padding: 20px;	
}

/* renseignement */	
.renseignement
{
	font-size: 0.6em;
	font-family: raleway, sans-serif;
	line-height: 4px;
	padding: 10px;
}

.recherche
{
	display:flex;
	margin: 0px;
}

.box i
{
background-color:#F2F2F2;
padding:10px;
border-style: none;
font-size: 10px;
border-top-left-radius:10px;
border-bottom-left-radius:10px;
}
.search input
{
	background-color:#0065FC;
	color: white; 
	font-size: 16px;
	padding: 5px;
	border-style:none;
	font-family: raleway, sans-serif;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}
.ville input
{
	display: flex;
	justify-content: center;
	align-content: center;
	padding: 5px;
	margin-left: 10px;
 	font-size: 16px;
 	font-family: raleway, sans-serif;
 	border-style: none;
}

.filtres
{
	
	display: flex;
	font-family: raleway, sans-serif;
	
}
.filtres h2
{
	font-size: 0.8em;
	font-family: raleway, sans-serif;
	padding: 22px;
	margin-left:-25px;
}
.listes
{
	display: flex;
	justify-content: space-between;
	padding: 30px;
	margin-left: -25px;
	font-size: 0.8em;
	font-family: raleway, sans-serif;
}


 .heber 
{
	position: relative;

}
.heber h3
{
	position: absolute;
	left: 1em;
	font-family: raleway, sans-serif;
	font-size: 1em;
}

 .plus{
 	position: relative;
 } 

 .plus p{
	font-size: 0.6em;
	font-weight: bold;
	font-family:raleway, sans-serif;
	text-decoration: bold;
	position: absolute;
	left: 1em;
	top:-3em;
}

 .container
{
	display: flex;
	width: 45em;
	height: 21em;
	padding: 10px;
	padding-top: 50px;
	padding-bottom: 50px;
	border-radius:10px;
	justify-content: space-between;
	align-content: space-between;
	flex-wrap: wrap;
	flex-direction: row;
	background-color:#F2F2F2; 
}

.bloc
{
	background-color: #fff;
	border:4px solid #fff;
	border-radius: 10px;
	height: 8.5em;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
	position: relative;

}
.bloc h3
{
	font-size: 0.7em;
	font-family: raleway, sans-serif;
	position: absolute;
	left: 7px;
	bottom: 0.9em;
}

 .bloc p 
{
	font-size: 0.5em;
	font-family: raleway, sans-serif;
	position: absolute;
	left:5px;
	bottom:0.5em;
}

.bloc .icone_star ul
{
	position: absolute;
	font-size:8px; 
	left: -35px;
	bottom: -1em;
	color:#0065FC; 
}
.bloc .icone_star span
{
	color:#F2F2F2;
}
.container .bloc img 
{
	background-color: #fff;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
  	width: 6em;
  	height: auto;


}

.container ul 
{
	
	list-style-type:none;
	font-size: 0.6em;
	display: flex;
}
aside
{
	position:relative;
	
}

aside .container
{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 17em;
	height: 20.5em;
	position: absolute;
	bottom: 0.6em;
	left: 47.5em;
	border-radius:10px;
	background-color:#F2F2F2; 
	}

aside .container .bloc_1 img
{
	width: 6em;
	height: 5em;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	display: flex;
	justify-content: space-around;
	flex-direction: column; 
}

aside .bloc_1
{
	background-color: #fff;
	border:4px solid #fff;
	border-radius: 10px;
	height: 5em; 
	width: 15em;
}

aside .chambre7 h3
{
	font-size: 0.7em;
	font-family: raleway, sans-serif;
	position:absolute;
	left: 11.5em;
	bottom:29em;
}

aside .chambre7 p
{
	font-size: 0.6em;
	font-family: raleway, sans-serif;
	position: absolute;
	left: 13.5em;
	bottom:32em;
}

aside .chambre7 .icone_star1 ul
{
	position:absolute;
	left: 9.5em;
	bottom: 29.5em;
	color:#0065FC;
}

aside .chambre8 h3
{
	font-size: 0.7em;
	font-family: raleway, sans-serif;
	position:absolute;
	left: 11.5em;
	bottom:19em;
}

aside .chambre8 p
{
	font-size: 0.7em;
	font-family: raleway, sans-serif;
	position:absolute;
	left: 11.5em;
	bottom:17em;
}
aside .chambre8 .icone_star1 ul
{
	position:absolute;
	left: 9.5em;
	bottom: 17em;
	color:#0065FC;
}

aside .chambre8 .icone_star1 span
{
	color:#F2F2F2;
} 

aside .chambre9 h3
{
	font-size: 0.7em;
	font-family: raleway, sans-serif;
	position:absolute;
	left: 12em;
	bottom:8.5em;
}

aside .chambre9 p
{
	font-size: 0.7em;
	font-family: raleway, sans-serif;
	position:absolute;
	left: 12em;
	bottom:6.5em;
}

aside .chambre9 .icone_star1 ul
{
	position:absolute;
	left: 10em;
	bottom: 4.5em;
	color:#0065FC;	
}

aside .chambre9 .icone_star1 span
{
	color:#F2F2F2; 
}

aside .icon h2
{
	position: absolute;
	font-size: 1em;
	font-family: raleway, sans-serif;
	left:48.5em;
	bottom: 25em;
	z-index: 1;
}

aside .icon i
{
	position: absolute;
	font-size: 1em;
	left:63.5em;
	bottom: 26em;
	z-index: 1;
}

.activités
{
	position: relative;
}
.activites h2
{
	font-size:0.9em;
	font-family:raleway, sans-serif;
	position: absolute;
	bottom: 9em;
	left: 2em;
	z-index: 6;
}

.container_2
{
	display: flex;
	width: 65em;
	height: 20em;
	padding: 10px;
	padding-top: 50px;
	padding-bottom: 50px;
	border-radius:10px;
	justify-content: space-between;
	align-content: space-between;
	flex-wrap: wrap;
	flex-direction: row;
	background-color:; 
}

.container_2 .activités_1 img
{
	width: 15em;
	height: 6em;
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
	
}

.bloc_0
{
	background-color: #fff;
	border: 1px solid #fff;
	border-radius: 10px;
	height: 9em; 
	width: 15em;
	position: absolute;
	left: 51em;
	bottom: -2em;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
	z-index: 5;
}
.bloc_0 h3
{
	font-size: 0.8em;
	font-family: raleway, sans-serif;
	position: absolute;
	left: 1.5em;
}

.container_2 .activités_2 img
{
	width: 15em;
	height: 5em;
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
}

.bloc_2
{
	background-color: #fff;
	border: 1px solid #fff;
	border-radius: 10px;
	height: 7.5em; 
	width: 15em;
	position: absolute;
	left: 17em;
	bottom:-12.5em;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
	z-index: 3;
}

.bloc_2 h3
{
	font-size: 0.8em;
	font-family: raleway, sans-serif;
	position: absolute;
	left: 1.5em;
}

.container_2 .activités_3 img
{
	width: 15em;
	height: 17em;
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
}

.bloc_3
{
	background-color: #fff;
	border: 1px solid #fff;
	border-style: none;
	border-radius: 10px;
	height: 20em; 
	width: 15em;
	position: absolute;
	left: 34em;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
	z-index: 3;
}

.bloc_3 h3
{
	font-size: 0.8em;
	font-family: raleway, sans-serif;
	position: absolute;
	left: 1em;
}

.container_2 .activités_4 img
{
	width: 15em;
	height: 6em;
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
}

.bloc_4
{
	background-color: #fff;
	border: 1px solid #fff;
	border-radius: 10px;
	height: 9em; 
	width: 15em;
	position: absolute;
	left: 51em;
	bottom: -12.5em;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
	z-index: 4;
}
.bloc_4 h3
{
	font-size: 0.8em;
	font-family: raleway, sans-serif;
	position: absolute;
	left: 1em;

}

.container_2 .activités_5 img
{
	width: 15em;
	height: 9em;
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
}

.bloc_5
{
	background-color: #fff;
	border: 1px solid #fff;
	border-radius: 10px;
	height: 11em; 
	width: 15em;
	position: absolute;
	left: 17em;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
	z-index: 2;
	
}

.bloc_5 h3
{
	font-size: 0.8em;
	font-family: raleway, sans-serif;
	position: absolute;
	left: 1em;
	bottom: -0.5em;
	z-index: 1;
}

.container_2 .activités_6 img
{
	width: 14em;
	height: 17em;
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
}

.bloc_6
{
	background-color: #fff;
	border: 1px solid #fff;
	border-style: none;
	border-radius: 10px;
	height: 20em; 
	width: 14em;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
	position: absolute;
}

.bloc_6 h3
{
	font-size: 0.8em;
	font-family: raleway, sans-serif;
	position: absolute;
	left: 1em;
}

footer
{
	width:65em; 
	height:8em;
	background-color:#F2F2F2;
	
}

footer .footer
{
	font-size:0.7em;
	font-family:raleway, sans-serif;
	display: flex;
	justify-content:;
	align-items: ;
	position: relative;	
}

.footer .rubrique1 h2
{
	position: absolute;
	left: 2em;
}
.footer .rubrique1 ul
{
	position: absolute;
	bottom: -9em;
	left: -0.8em;
	list-style-type:none;
	line-height: 1.5em;
}

.footer .rubrique2 h2
{
	position: absolute;
	left: 20em;
}
.footer .rubrique2 ul
{
	position: absolute;
	bottom: -8em;
	left: 26.5em;
	list-style-type:none;
	line-height: 1.5em;
}

.footer .rubrique3 h2
{
	position: absolute;
	left: 45em;
}
.footer .rubrique3 ul
{
	position: absolute;
	bottom: -8em;
	left: 64em;
	list-style-type:none;
	line-height: 1.5em;	
}