body
{
	margin:0px 0px 20px 0px;
	font-family: 'Raleway', sans-serif;
}

header
{
	display: flex;
	/*justify-content: space-evenly;*/
	flex-wrap: wrap;
	position: relative;

}
#logo img
{
	color: #0065FC;
	width: 4em;
	margin-left: 15px;
	margin-top: 20px;
	margin-right: 50px;
}

nav ul  
{
	display: flex;
	list-style-type:none;
	flex-wrap: wrap;
	/*position: absolute;*/
	margin-left: 450px;	
}

nav li
{
	margin-left: 20px;
	text-align: center;		
}
nav li .héberger
{
	color:#0065FC;
	border-top: 1px solid #0065FC;
	padding: 15px;
}
nav li span a
{
	color: #0065FC;
}
nav a
{
	font-size: 0.6em;
	color: black;
	padding-bottom: 0.5px;
	text-decoration: none;
}

/* renseignement */	
.renseignement
{
	font-size: 0.8em;
	padding: 10px;
	margin-left: 10px;
}

.recherche
{
	display:flex;
	margin-left: 15px;
}

.search input
{
	background-color:#0065FC;
	color: white; 
	font-size: 16px;
	padding: 5px;
	border-style:none;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}
.ville input
{
	display: flex;
	justify-content: center;
	align-content: center;
	padding: 5px;
	margin-left: 10px;
 	font-size: 16px;
 	border-style: none;
}

.filtres
{
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: flex-start;
	margin-left: 5px;

}
.filtres h2
{
	font-size: 0.8em;
	margin-left:15px;
	margin-top: 25px;
	margin-right:10px;
}
.listes
{
	display: flex;
	flex-wrap: wrap;
	font-size: 0.8em;


}

.box1 
{
	/* display: flex; */
	position: relative;
	margin:5px;
}
.box1 i
{
	font-size: 12px;
	color: #0065FC;
	display: inline-flex;
	justify-content: center;
	padding: 8px;
	position: absolute;
	top:12px;
	background-color:#DEEBFF;
	border: 2px solid #F2F2F2; 
	width: 10px;
	height: 10px;
	border-radius: 100px;
}
.box1 p
{
	font-size: 0.9em;
	font-weight: bold;
	text-align: justify;
	text-transform: capitalize;
	display: inline-flex;
	padding: 8px;
	padding-left: 35px;
	background-color:#fFF;
	border: 2px solid #F2F2F2;
	border-radius: 15px;
	width: 70px;
	height: 10px; 
}

.box2
{
	
	position: relative;
	margin: 5px;
}
.box2 i
{
	font-size: 12px;
	color: #0065FC;
	display: inline-flex;
	justify-content: center;
	padding: 8px;
	position: absolute;
	top:12px;
	background-color:#DEEBFF;
	border: 2px solid #F2F2F2; 
	width: 10px;
	height: 10px;
	border-radius: 100px;
}
.box2 p
{
	font-size: 0.9em;
	font-weight: bold;
	text-align: justify;
	text-transform: capitalize;
	display: inline-flex;
	padding: 8px;
	padding-left: 35px;
	background-color:#fFF;
	border: 2px solid #F2F2F2;
	border-radius: 15px;
	width: 50px;
	height: 10px; 
}

.box3
{
	
	position: relative;
	margin: 5px;
}
.box3 i
{
	font-size: 12px;
	color: #0065FC;
	display: inline-flex;
	justify-content: center;
	padding: 8px;
	position: absolute;
	top:12px;
	background-color:#DEEBFF;
	border: 2px solid #F2F2F2; 
	width: 10px;
	height: 10px;
	border-radius: 100px;	
}
.box3 p
{
	font-size: 0.9em;
	font-weight: bold;
	text-align: justify;
	text-transform: capitalize;
	display: inline-flex;
	padding: 8px;
	padding-left: 35px;
	background-color:#fFF;
	border: 2px solid #F2F2F2;
	border-radius: 15px;
	width: 70px;
	height: 10px; 
}

.box4
{
	/* display: flex; */
	position: relative;
	margin: 5px;
}
.box4 i
{
	font-size: 12px;
	color: #0065FC;
	display: inline-flex;
	justify-content: center;
	padding: 8px;
	position: absolute;
	top:12px;
	background-color:#DEEBFF;
	border: 2px solid #F2F2F2; 
	width: 10px;
	height: 10px;
	border-radius: 100px;
}
.box4 p
{
	font-size: 0.9em;
	font-weight: bold;
	text-align: justify;
	display: inline-flex;
	padding: 8px;
	padding-left: 35px;
	background-color:#fFF;
	border: 2px solid #F2F2F2;
	border-radius: 15px;
	width: 110px;
	height: 10px; 	
}
.box i
{
background-color:#F2F2F2;
padding:10px;
border-style: none;
font-size: 10px;
border-top-left-radius:10px;
border-bottom-left-radius:10px;
}

.info
{
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	margin-left: 15px;
}
.info i
{
	font-size: 0.5em;
	color:#0065FC;
	background-color:#fff;
	padding:2px;
	padding-left: 5px;
	padding-right: 5px;
	border:2px solid #F2F2F2;
	border-radius: 100px;
	

}	
	
.info p
{
	font-size: 0.6em;
	margin-top: 2px;
	margin-left: 5px;
	margin-bottom: 10px;
}

section
{
	display: flex;
	flex-wrap: wrap;
	position: relative;
}

.annonce h3
{
	font-weight: bold;
	font-size: 0.8em;
	position: absolute;
	margin-left: 30px;
	margin-top: 40px;
}

.plus p
 {
	font-size: 0.8em;
	font-weight: bold;
	position: absolute;
	margin-top: -20px;
	margin-left:30px;
}

.container
{
	display: flex;
	justify-content: space-evenly;
	flex-direction: column;
	flex-wrap: wrap; 
	margin-left: 20px;
	background-color:#F2F2F2;
	margin: 30px 0px 0px 15px;
	padding: 30px 0px 30px 10px;
	border-radius:10px;
	 
}
.row1{
	display: flex;
	flex-wrap: wrap;
}
.row2
{
	display: flex;
	flex-wrap: wrap;
}

.heber .bloc
{
	/* display:flex; */
	justify-content: space-evenly;
	flex-wrap: wrap;
	width: 160px;
	height: 120px;
	margin:10px;
	background-color: #fff;
	border:3px solid #fff;
	border-radius: 10px;
	box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.5);
	position: relative;
}
 .chambre1 img
{
display:;
width: 160px;
height:90px;
object-fit: cover;
object-fit: cover;
border-top-left-radius: 10px;
border-top-right-radius: 10px;	
}
.chambre1 h3
{
	position: absolute;
	left: 10px;
	top: 85px;
}
.chambre1 p
{
	position: absolute;
	top: -7px;
	left: 70px;
}
.chambre1 ul
{
	position: absolute;
	top: -10px;
	left: 165px;
}

.chambre2 img
{
display:;
width: 160px;
height:90px;
object-fit: cover;
border-top-left-radius: 10px;
border-top-right-radius: 10px;	
}
.chambre2 h3
{
	position: absolute;
	left: 10px;
	top: 85px;
}
.chambre2 p
{
	position: absolute;
	top: -7px;
	left: 70px;
}
.chambre2 ul
{
	position: absolute;
	top: -10px;
	left: 165px;
}

.chambre3 img
{
display:;
width: 160px;
height:90px;
object-fit: cover;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
}
.chambre3 h3
{
	position: absolute;
	left: 10px;
	top: 85px;
}
.chambre3 p
{
	position: absolute;
	top: -7px;
	left: 70px;
}
.chambre3 ul
{
	position: absolute;
	top: -10px;
	left: 165px;
}

.chambre4 img
{
display:;
width: 160px;
height:90px;
object-fit: cover;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
}
.chambre4 h3
{
	position: absolute;
	left: 10px;
	top: 85px;
}
.chambre4 p
{
	position: absolute;
	top: -7%;
	left: 70px;
}
.chambre4 ul
{
	position: absolute;
	top: -10px;
	left: 165px;
}

.chambre5 img
{
	display:;
width: 160px;
height:90px;
object-fit: cover;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
}
.chambre5 h3
{
	position: absolute;
	left: 10px;
	top: 85px;
}
.chambre5 p
{
	position: absolute;
	top: -7px;
	left: 70px;
}
.chambre5 ul
{
	position: absolute;
	top: -10px;
	left: 165px;
}

.chambre6 img
{
display:;
width: 160px;
height:90px;
object-fit: cover;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
}
.chambre6 h3
{
	position: absolute;
	left: 10px;
	top: 85px;
}
.chambre6 p
{
	position: absolute;
	top: -7px;
	left: 70px;
}
.chambre6 ul
{
	position: absolute;
	top: -10px;
	left: 165px;
}

.nom
{
	/* display: flex; */
	font-size: 0.7em;
	
}
.bloc h3
{
	display: flex;
	
	font-size: 0.7em;
}

 .bloc p 
{
	display: flex;
	font-size: 0.6em;
	padding-top: 105px;
	margin-left: -60px
}

.icone_star ul
{
	display: flex;
	padding-top: 118px;
	margin-left: -195px;
	list-style-type:none;
	font-size:0.4em; 
	color:#0065FC; 

}
 .icone_star span
{

	color:#F2F2F2;
}	
.etoile
{
	display: flex;

}

.aside .container
{
	display: flex;
	justify-content: space-evenly;
	flex-direction: column;
	align-content: center;
	width: 260px;
	height: 350px;
	padding: 0px 0px 0px 0px;
	border-radius:10px;
	background-color:#F2F2F2;
	position: relative; 
	}

.container ul
{
	display: flex;
	list-style-type:none;
	font-size:6px; 
	color:#0065FC; 
	
} 

aside .container .bloc_1 img
{
	width: 100px;
	height: 78px;
	object-fit: cover;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	display: flex;
	justify-content: space-around;
	flex-direction: column; 
}

aside .bloc_1
{
	background-color: #fff;
	border:3px solid #fff;
	border-radius: 10px;
	margin: 5px;
	height: 78px; 
	width: 230px;
	position: relative;
}

aside .chambre7 h3
{
	font-size: 0.6em;
	position: absolute;
	left:110px; 
	top:-8px;
	z-index: 20;
}

aside .chambre7 p
{
	font-size: 0.5em;
	position: absolute;
	left: 110px;
	top:20px;
	
}

aside .chambre7 .icone_star1 ul
{
	position: absolute;
	left: 70px;
	top: 60px;
	color:#0065FC;
}

aside .chambre8 h3
{
	font-size: 0.6em;
	position: absolute;
	left:110px;
	top:-10px;
	z-index: 20;
}

aside .chambre8 p
{
	font-size: 0.5em;
	position: absolute;
	left:110px;
	top:18px;
}
aside .chambre8 .icone_star1 ul
{
	position: absolute;
	left:70px;
	top:60px;
	color:#0065FC;
}

aside .chambre8 .icone_star1 span
{
	color:#F2F2F2;
} 

aside .chambre9 h3
{
	font-size: 0.6em;
	position: absolute;
	left: 110px;
	top:-10px;
}

aside .chambre9 p
{
	font-size: 0.5em;
	position: absolute;
	left: 110px;
	top:18px;
}

aside .chambre9 .icone_star1 ul
{
	position: absolute;
	left: 70px;
	top:60px;
	color:#0065FC;	
}

aside .chambre9 .icone_star1 span
{
	color:#F2F2F2; 
}

.icon
{
	display: flex;
	justify-content: space-around;
}

.aside .icon h2
{
	font-size: 0.8em;
	margin-left: -5px;
	margin-right: 100px;
	z-index: 20;
	/*position: absolute;*/
	
}

.aside .icon i
{
	padding-top:10px;
	font-size: 0.8em;
	z-index: 20;
	/*position: absolute;*/
	
}

.activites h2
{
	font-size:0.8em;
	/*position: absolute;*/
	margin-left: 30px;
	margin-top: 20px;
	
	
}

.container_2
{
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	border-radius:10px;
	margin-left: 20px;
	 /*background-color:red;*/
}
.container_2 .case1
{
	
	padding-right:30px;
	margin-bottom: 20px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	/* background-color:green; */
}
.container_2 .case1 .sous-case1
{
	display: flex;
	flex-wrap: wrap;
	margin-right: 30px;
	justify-content: center;
	align-items: center;
	
}
.container_2 .case1 .sous-case2
{
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: space-between;
}

.container_2 .case2
{
	
	margin-bottom:20px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	/* background-color: blue; */
}
.container_2 .case2 .sous-case3
{
	margin-right: 30px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
.container_2 .case2 .sous-case4
{
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: space-between;
}

.container_2 .activités_1 img
{
	width: 200px;
	height:90px;
	object-fit: cover;
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
	
}

.container_2 .bloc_0
{
	background-color: #fff;
	border: 1px solid #fff;
	border-radius: 12px;
	height:120px; 
	width: 200px;
	margin-bottom: 30px;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
	position: relative;
}
.bloc_0 h3
{
	font-size: 0.7em;
	position: absolute;
	left: 10px;
	top: 85px;
}

.container_2 .activités_2 img
{
	width: 200px;
	height:70px;
	object-fit: cover;
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
}

.bloc_2
{

	background-color: #fff;
	border: 1px solid #fff;
	border-radius: 10px;
	height:100px; 
	width:200px; 
	margin-bottom: 30px;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
	position: relative;
}

.bloc_2 h3
{
	font-size: 0.7em;
	position: absolute;
	left: 10px;
	top: 65px;
}

.container_2 .activités_3 img
{
	width: 180px;
	height: 245px;
	object-fit: cover;
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
}

.bloc_3
{
	background-color: #fff;
	border: 1px solid #fff;
	border-style: none;
	border-radius: 10px;
	height: 290px; 
	width: 180px;
	margin-bottom: 30px;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
	position: relative;
}

.bloc_3 h3
{
	font-size: 0.7em;
	position: absolute;
	left: 10px;
	top: 250px;
}

.container_2 .activités_4 img
{
	width: 200px;
	height:90px;
	object-fit: cover;
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
}

.bloc_4
{
	background-color: #fff;
	border: 1px solid #fff;
	border-radius: 10px;
	height:132px; 
	width: 200px;
	margin-bottom: 30px;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
	position: relative;
}
.bloc_4 h3
{
	font-size: 0.7em;
	position: absolute;
	left: 10px;
	top: 85px;
}

.container_2 .activités_5 img
{
	width: 200px;
	height:110px;
	object-fit: cover;
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
}

.bloc_5
{
	background-color: #fff;
	border: 1px solid #fff;
	border-radius: 10px;
	height:150px; 
	width: 200px;
	margin-bottom: 30px;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
	position: relative;
	
}

.bloc_5 h3
{
	font-size: 0.7em;
	position: absolute;
	left: 10px;
	top: 110px;
}

.container_2 .activités_6 img
{
	width: 180px;
	height: 245px;
	object-fit: cover;
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
}

.bloc_6
{
	background-color: #fff;
	border: 1px solid #fff;
	border-style: none;
	border-radius: 10px;
	height: 290px; 
	width: 180px;
	margin-bottom: 30px;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
	position: relative;
}

.bloc_6 h3
{
	font-size: 0.7em;
	position: absolute;
	left: 10px;
	top: 250px;

}
.footer 
{
	width:910px; 
	height:100px;
	background-color:#F2F2F2;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;

}

.footer h2 	
{
	font-weight: bold;
	font-size: 0.8em;
	
}

.footer ul	
{
	font-size: 0.7em;
	font-family: "raleway", time new roman, sans-serif;
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

@media screen and(max-width: 375px)
{
	
}

@media all  and (max-width: 824px){

 	nav ul 
 	{
 		margin-top: 0px;
 	}
 	.héberger
 	{
 		color: #0065FC;
 		padding-bottom: 10px;
 		border-top: 0px;
 		/*border-bottom: 1px solid #0065FC;*/
 	} 
 	section
 	
 } 
	


