

header
{
	display: flex;
	justify-content: space-between;
	align-items:space-around;
	position: relative;

}
#logo img
{
	color: #0065FC;
	width: 4em;
}

nav ul  
{
	list-style-type:none;
	display: flex;
	position: absolute;
	left: 50em;	
}

nav li
{
	margin-left: 20px;
	text-align: left;		
}

nav a
{
	font-size: 0.8em;
	color: black;
	padding-bottom: 0.5px;
	text-decoration: none;
}

nav a:hover
{
	color:#0065FC;
	border-top: 2px solid #0065FC;
	padding: 20px;	
}

/* renseignement */	
.renseignement
{
	font-size: 0.6em;
	font-family: raleway, sans-serif;
	line-height: 3px;
	padding: 10px;
}

.recherche
{
	display:flex;
	margin: 5px;
}

.filtres
{
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	margin-left: 5px;

}
.filtres h2
{
	font-size: 0.8em;
	font-family: raleway, sans-serif;
	margin-left:5px;
	margin-top: 25px;
	margin-right:10px;
}
.listes
{
	display: flex;
	font-size: 0.8em;
	font-family: raleway, sans-serif;

}

.box1 
{
	display: flex;
	position: relative;
	margin:5px;
}
.box1 i
{
	font-size: 12px;
	color: #0065FC;
	display: inline-flex;
	justify-content: center;
	padding: 8px;
	position: absolute;
	top:12px;
	background-color:#DEEBFF;
	border: 2px solid #F2F2F2; 
	width: 10px;
	height: 10px;
	border-radius: 100%;
}
.box1 p
{
	font-size: 0.9em;
	font-weight: bold;
	font-family: raleway,sans-serif;
	text-align: justify;
	text-transform: capitalize;
	display: inline-flex;
	padding: 8px;
	padding-left: 35px;
	background-color:#fFF;
	border: 2px solid #F2F2F2;
	border-radius: 15px;
	width: 70px;
	height: 10px; 
}

.box2
{
	display: flex;
	position: relative;
	margin: 5px;
}
.box2 i
{
	font-size: 12px;
	color: #0065FC;
	display: inline-flex;
	justify-content: center;
	padding: 8px;
	position: absolute;
	top:12px;
	background-color:#DEEBFF;
	border: 2px solid #F2F2F2; 
	width: 10px;
	height: 10px;
	border-radius: 100%;
}
.box2 p
{
	font-size: 0.9em;
	font-weight: bold;
	font-family: raleway,sans-serif;
	text-align: justify;
	text-transform: capitalize;
	display: inline-flex;
	padding: 8px;
	padding-left: 35px;
	background-color:#fFF;
	border: 2px solid #F2F2F2;
	border-radius: 15px;
	width: 50px;
	height: 10px; 
}

.box3
{
	display: flex;
	position: relative;
	margin: 5px;
}
.box3 i
{
	font-size: 12px;
	color: #0065FC;
	display: inline-flex;
	justify-content: center;
	padding: 8px;
	position: absolute;
	top:12px;
	background-color:#DEEBFF;
	border: 2px solid #F2F2F2; 
	width: 10px;
	height: 10px;
	border-radius: 100%;	
}
.box3 p
{
	font-size: 0.9em;
	font-weight: bold;
	font-family: raleway,sans-serif;
	text-align: justify;
	text-transform: capitalize;
	display: inline-flex;
	padding: 8px;
	padding-left: 35px;
	background-color:#fFF;
	border: 2px solid #F2F2F2;
	border-radius: 15px;
	width: 70px;
	height: 10px; 
}

.box4
{
	display: flex;
	position: relative;
	margin: 5px;
}
.box4 i
{
	font-size: 12px;
	color: #0065FC;
	display: inline-flex;
	justify-content: center;
	padding: 8px;
	position: absolute;
	top:12px;
	background-color:#DEEBFF;
	border: 2px solid #F2F2F2; 
	width: 10px;
	height: 10px;
	border-radius: 100%;
}
.box4 p
{
	font-size: 0.9em;
	font-weight: bold;
	font-family: raleway,sans-serif;
	text-align: justify;
	display: inline-flex;
	padding: 8px;
	padding-left: 35px;
	background-color:#fFF;
	border: 2px solid #F2F2F2;
	border-radius: 15px;
	width: 110px;
	height: 10px; 	
}
.box i
{
background-color:#F2F2F2;
padding:10px;
border-style: none;
font-size: 10px;
border-top-left-radius:10px;
border-bottom-left-radius:10px;
}
.search input
{
	background-color:#0065FC;
	color: white; 
	font-size: 16px;
	padding: 5px;
	border-style:none;
	font-family: raleway, sans-serif;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}
.ville input
{
	display: flex;
	justify-content: center;
	align-content: center;
	padding: 5px;
	margin-left: 10px;
 	font-size: 16px;
 	font-family: raleway, sans-serif;
 	border-style: none;
}


.info
{
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	margin-left: 5px;
}
.info i
{
	font-size: 0.5em;
	color:#0065FC;
	background-color:#fff;
	padding:2px;
	padding-left: 5px;
	padding-right: 5px;
	border:2px solid #F2F2F2;
	border-radius: 100%;
	

}	
	
.info p
{
	font-size: 0.6em;
	font-family: Raleway, sans-serif;
	margin-top: 2px;
	margin-left: 5px;
	margin-bottom: 10px;
}

 .heber 
{
	position: relative;
}
.heber h3
{
	position: absolute;
	left: 1em;
	font-family: raleway, sans-serif;
	font-size: 1em;
}

 .plus{
 	position: relative;
 } 

 .plus p{
	font-size: 0.6em;
	font-weight: bold;
	font-family:raleway, sans-serif;
	text-decoration: bold;
	position: absolute;
	left: 1em;
	top:-3em;
}

section
{
	display: flex;
	justify-content:flex-start;
	align-items: space-around;
}
.container
{
	background-color:#F2F2F2;
	display: flex;
	flex-wrap: wrap;
	width: 600px;
	height: 300px;
	padding: 30px;
	padding-top: 30px
	padding-bottom:30px;
	border-radius:10px;
	 
}

.bloc
{
	display: flex;
	width: 170px;
	height: 130px;
	margin:10px;
	background-color: #fff;
	border:3px solid #fff;
	border-radius: 10px;
	box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.5);

}
 .chambre1 img
{
display: inline-block;
width: 169px;
height:95px;
border-top-left-radius: 10px;
border-top-right-radius: 10px;	
}
.chambre2 img
{
display: inline-block;
width: 169px;
height:95px;
border-top-left-radius: 10px;
border-top-right-radius: 10px;	
}
.chambre3 img
{
display: inline-block;
width: 169px;
height:95px;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
}
.chambre4 img
{
display: inline-block;
width: 169px;
height:95px;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
}
.chambre5 img
{
	display: inline-block;
width: 169px;
height:95px;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
}
.chambre6 img
{
display: inline-block;
width: 169px;
height:95px;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
}

.nom
{
	display: flex;
	font-size: 0.7em;
	font-family: raleway, sans-serif;
}
.bloc h3
{
	display: flex;
	margin-left: -165px;
	padding-top:90px;
	font-size: 0.7em;
	font-family: raleway, sans-serif;

}

 .bloc p 
{
	display: flex;
	font-size: 0.6em;
	font-family: raleway, sans-serif;
	padding-top: 105px;
	margin-left: -60px
}

.icone_star ul
{
	display: flex;
	padding-top: 118px;
	margin-left: -195px;
	list-style-type:none;
	font-size:6px; 
	color:#0065FC; 

}
 .icone_star span
{
	display: flex;
	color:#F2F2F2;
}	
.etoile
{
	display: flex;

}

aside
{
	display: inline-flex;
	justify-content
	
	
}

aside .container ul
{
	display: flex;
	list-style-type:none;
	font-size:6px; 
	color:#0065FC; 
} 

aside .container
{
	display: flex;
	width: 250px;
	height: 300px;
	
	border-radius:10px;
	background-color:#F2F2F2; 
	}

aside .container .bloc_1 img
{
	width: 6em;
	height: 5em;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	display: flex;
	justify-content: space-around;
	flex-direction: column; 
}

aside .bloc_1
{
	background-color: #fff;
	border:4px solid #fff;
	border-radius: 10px;
	height: 5em; 
	width: 15em;
}

aside .chambre7 h3
{
	font-size: 0.7em;
	font-family: raleway, sans-serif;
	left: 11.5em;
	bottom:29em;
}

aside .chambre7 p
{
	font-size: 0.6em;
	font-family: raleway, sans-serif;
	left: 13.5em;
	bottom:32em;
}

aside .chambre7 .icone_star1 ul
{
	
	left: 9.5em;
	bottom: 29.5em;
	color:#0065FC;
}

aside .chambre8 h3
{
	font-size: 0.7em;
	font-family: raleway, sans-serif;
	left: 11.5em;
	bottom:19em;
}

aside .chambre8 p
{
	font-size: 0.7em;
	font-family: raleway, sans-serif;
	left: 11.5em;
	bottom:17em;
}
aside .chambre8 .icone_star1 ul
{
	left: 9.5em;
	bottom: 17em;
	color:#0065FC;
}

aside .chambre8 .icone_star1 span
{
	color:#F2F2F2;
} 

aside .chambre9 h3
{
	font-size: 0.7em;
	font-family: raleway, sans-serif;
	left: 12em;
	bottom:8.5em;
}

aside .chambre9 p
{
	font-size: 0.7em;
	font-family: raleway, sans-serif;
	left: 12em;
	bottom:6.5em;
}

aside .chambre9 .icone_star1 ul
{
	left: 10em;
	bottom: 4.5em;
	color:#0065FC;	
}

aside .chambre9 .icone_star1 span
{
	color:#F2F2F2; 
}

aside .icon h2
{
	font-size: 1em;
	font-family: raleway, sans-serif;
	left:48.5em;
	bottom: 25em;
	z-index: 1;
}

aside .icon i
{
	font-size: 1em;
	left:63.5em;
	bottom: 26em;
	z-index: 1;
}

.activités
{
	
}
.activites h2
{
	font-size:0.9em;
	font-family:raleway, sans-serif;
	
	bottom: 9em;
	left: 2em;
	z-index: 6;
}

.container_2
{
	display: flex;
	width: 65em;
	height: 20em;
	padding: 10px;
	padding-top: 50px;
	padding-bottom: 50px;
	border-radius:10px;
	justify-content: space-between;
	align-content: space-between;
	flex-wrap: wrap;
	flex-direction: row;
	background-color:; 
}

.container_2 .activités_1 img
{
	width: 15em;
	height: 6em;
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
	
}

.bloc_0
{
	background-color: #fff;
	border: 1px solid #fff;
	border-radius: 10px;
	height: 9em; 
	width: 15em;
	position: absolute;
	left: 51em;
	bottom: -2em;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
	z-index: 5;
}
.bloc_0 h3
{
	font-size: 0.8em;
	font-family: raleway, sans-serif;
	
	left: 1.5em;
}

.container_2 .activités_2 img
{
	width: 15em;
	height: 5em;
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
}

.bloc_2
{
	background-color: #fff;
	border: 1px solid #fff;
	border-radius: 10px;
	height: 7.5em; 
	width: 15em;
	
	left: 17em;
	bottom:-12.5em;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
	z-index: 3;
}

.bloc_2 h3
{
	font-size: 0.8em;
	font-family: raleway, sans-serif;
	
	left: 1.5em;
}

.container_2 .activités_3 img
{
	width: 15em;
	height: 17em;
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
}

.bloc_3
{
	background-color: #fff;
	border: 1px solid #fff;
	border-style: none;
	border-radius: 10px;
	height: 20em; 
	width: 15em;

	left: 34em;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
	z-index: 3;
}

.bloc_3 h3
{
	font-size: 0.8em;
	font-family: raleway, sans-serif;
	
	left: 1em;
}

.container_2 .activités_4 img
{
	width: 15em;
	height: 6em;
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
}

.bloc_4
{
	background-color: #fff;
	border: 1px solid #fff;
	border-radius: 10px;
	height: 9em; 
	width: 15em;
	
	left: 51em;
	bottom: -12.5em;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
	z-index: 4;
}
.bloc_4 h3
{
	font-size: 0.8em;
	font-family: raleway, sans-serif;

	left: 1em;

}

.container_2 .activités_5 img
{
	width: 15em;
	height: 9em;
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
}

.bloc_5
{
	background-color: #fff;
	border: 1px solid #fff;
	border-radius: 10px;
	height: 11em; 
	width: 15em;

	left: 17em;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
	z-index: 2;
	
}

.bloc_5 h3
{
	font-size: 0.8em;
	font-family: raleway, sans-serif;
	
	left: 1em;
	bottom: -0.5em;
	z-index: 1;
}

.container_2 .activités_6 img
{
	width: 14em;
	height: 17em;
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
}

.bloc_6
{
	background-color: #fff;
	border: 1px solid #fff;
	border-style: none;
	border-radius: 10px;
	height: 20em; 
	width: 14em;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
	
}

.bloc_6 h3
{
	font-size: 0.8em;
	font-family: raleway, sans-serif;
	
	left: 1em;
}

footer
{
	width:50%; 
	height:100px;
	background-color:#F2F2F2;
	
}

footer .footer
{
	font-size:0.7em;
	font-family:raleway, sans-serif;
	position: relative;	
}

.footer .rubrique1 h2
{
	left: 2em;
}
.footer .rubrique1 ul
{
	
	bottom: -9em;
	left: -0.8em;
	list-style-type:none;
	line-height: 1.5em;
}

.footer .rubrique2 h2
{
	
	left: 20em;
}
.footer .rubrique2 ul
{
	
	bottom: -8em;
	left: 26.5em;
	list-style-type:none;
	line-height: 1.5em;
}

.footer .rubrique3 h2
{
	p
	left: 45em;
}
.footer .rubrique3 ul
{
	
	bottom: -8em;
	left: 64em;
	list-style-type:none;
	line-height: 1.5em;	
}