.bloc_page
{
	max-width: 1440px;
	margin: auto;
	font-family: 'Raleway', sans-serif;
}
.tete_de_page{
	display: flex;
	/*flex-wrap: wrap;**/
	font-size: 1.5em;
	margin-top: 10px;
	padding-top: 10px;
	padding-bottom: 40px;
}

.site{
	display: flex;
	/*justify-content: flex-end;**/
	flex-wrap: wrap;
}


.nav ul  
{
	display: flex;
	list-style-type: none;
	
}
.nav li a {
	
	text-decoration: none;
	margin-right: 70px;

}

#logo{
	margin-right: auto;
}

#logo img
{
	width: 120px;
	height: 80px;
	
}
.nav{
	
	 margin-right: 10px;
	 /*gap: 80px;**/
}
.nav a:hover{
	color: #0065FC;
	border-top: 2px solid #0065FC;
	padding-top: 30px;
}

.inscription{
	text-decoration: none;
	list-style-type: none;
	padding-top: 20px;
}
.inscription li a{

	text-decoration:none;
	font-weight: bold;
	color: #0065fc;
}

.inscription a:hover{

	color: #0065FC;
	border-top: 2px solid #0065FC;
	padding-top: 30px;
}



/* renseignement */	
.renseignement h2{
	font-size: 1.5em;
	
}

.renseignement p{
	font-size: 0.9em;
	padding-bottom: 10px;
}
.recherche
{
	display:flex;
	align-items: center;

}

.search button span, .search button i
{
	background-color:#0065FC;
	color: white; 
	font-size: 16px;
	padding: 5px;
	border-style:none;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}
.search button{
	border-style: none;
	background-color: transparent;
}
.search button i{
	display: none;
}
.ville input
{
	display: flex;
	justify-content: center;
	align-content: center;
	padding: 5px;
	margin-left: 10px;
 	font-size: 16px;
 	border-style: none;
}

.iconglass{
	visibility: hidden;
}

.filtres
{
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: flex-start;
	padding-top: 10px;

}
.filtres h2
{
	font-size: 0.9em;
	padding-top: 10px;
	padding-right: 10px;
}

.listes
{
	display: flex;
	flex-wrap: wrap;
	font-size: 0.8em;


}

.box1 
{
	
	position: relative;
	margin:5px;

}
.box1 i
{
	font-size: 12px;
	color: #0065FC;
	display: inline-flex;
	justify-content: center;
	padding: 8px;
	position: absolute;
	top: 13px;
	background-color:#DEEBFF;
	border: 2px solid #F2F2F2; 
	width: 10px;
	height: 10px;
	border-radius: 100px;
}
.box1 p
{
	font-size: 0.9em;
	font-weight: bold;
	text-align: justify;
	text-transform: capitalize;
	display: inline-flex;
	padding: 8px;
	padding-left: 35px;
	background-color:#fFF;
	border: 2px solid #F2F2F2;
	border-radius: 15px;
	width: 70px;
	height: 10px; 
}

.box2
{
	
	position: relative;
	margin: 5px;
}
.box2 i
{
	font-size: 12px;
	color: #0065FC;
	display: inline-flex;
	justify-content: center;
	padding: 8px;
	position: absolute;
	top:12px;
	background-color:#DEEBFF;
	border: 2px solid #F2F2F2; 
	width: 10px;
	height: 10px;
	border-radius: 100px;
}
.box2 p
{
	font-size: 0.9em;
	font-weight: bold;
	text-align: justify;
	text-transform: capitalize;
	display: inline-flex;
	padding: 8px;
	padding-left: 35px;
	background-color:#fFF;
	border: 2px solid #F2F2F2;
	border-radius: 15px;
	width: 50px;
	height: 10px; 
}

.box3
{
	
	position: relative;
	margin: 5px;
}
.box3 i
{
	font-size: 12px;
	color: #0065FC;
	display: inline-flex;
	justify-content: center;
	padding: 8px;
	position: absolute;
	top:12px;
	background-color:#DEEBFF;
	border: 2px solid #F2F2F2; 
	width: 10px;
	height: 10px;
	border-radius: 100px;	
}
.box3 p
{
	font-size: 0.9em;
	font-weight: bold;
	text-align: justify;
	text-transform: capitalize;
	display: inline-flex;
	padding: 8px;
	padding-left: 35px;
	background-color:#fFF;
	border: 2px solid #F2F2F2;
	border-radius: 15px;
	width: 70px;
	height: 10px; 
}

.box4
{
	/* display: flex; */
	position: relative;
	margin: 5px;
}
.box4 i
{
	font-size: 12px;
	color: #0065FC;
	display: inline-flex;
	justify-content: center;
	padding: 8px;
	position: absolute;
	top:12px;
	background-color:#DEEBFF;
	border: 2px solid #F2F2F2; 
	width: 10px;
	height: 10px;
	border-radius: 100px;
}
.box4 p
{
	font-size: 0.9em;
	font-weight: bold;
	text-align: justify;
	display: inline-flex;
	padding: 8px;
	padding-left: 35px;
	background-color:#fFF;
	border: 2px solid #F2F2F2;
	border-radius: 15px;
	width: 110px;
	height: 10px; 	
}
.box i
{
background-color:#F2F2F2;
padding:10px;
border-style: none;
font-size: 10px;
border-top-left-radius:10px;
border-bottom-left-radius:10px;
}

.info
{
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	/*margin-left: 15px;*/
}

.info i
{
	font-size: 0.5em;
	color:#0065FC;
	background-color:#fff;
	padding-top:5px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 5px;
	border:2px solid #F2F2F2;
	border-radius: 100px;
	

}	
	
.info p
{
	font-size: 0.9em;
	margin-top: 2px;
	margin-left: 5px;
	margin-bottom: 10px;
}

section
{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	position: relative;
}

.annonce h3
{
	font-weight: bold;
	font-size: 1em;
	/*position: absolute;*/
	margin-left: 30px;
	margin-top: 10px;
	z-index: 10;
}

.plus p
 {
	font-size: 0.9em;
	font-weight: bold;
	/*position: absolute;*/
	padding-top:10px;
	margin:10px 0px 10px 30px;
}

.container
{
	display: flex;
	justify-content: space-evenly;
	flex-direction: column;
	flex-wrap: wrap; 
	margin-left: 20px;
	background-color:#F2F2F2;
	margin: 20px 0px 0px 0px;
	padding: 20px 50px 10px 50px;
	border-radius:10px;
	 order: 2;
}
.row1{
	display: flex;
	flex-wrap: wrap;
}
.row2
{
	display: flex;
	flex-wrap: wrap;
}

.heber .bloc:hover{
	transform: scale(1.2);
    transition: all 0.2s ease-in-out;
}

.heber .bloc
{
	/* display:flex; */
	justify-content: space-evenly;
	flex-wrap: wrap;
	width: 220px;
	height: 180px;
	margin:20px;
	background-color: #fff;
	border:3px solid #fff;
	border-radius: 10px;
	box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.5);
	position: relative;
}
 .chambre1 img
{

width: 220px;
height:100px;
object-fit: cover;
border-top-left-radius: 10px;
border-top-right-radius: 10px;	
}
.chambre1 h3
{
	position: absolute;
	left: 10px;
	top: 100px;
}
.chambre1 p
{
	position: absolute;
	top: 15px;
	left: 70px;
}
.chambre1 ul
{
	position: absolute;
	top: 150px;
	left: -25px;
}

.chambre2 img
{

width: 220px;
height:100px;
object-fit: cover;
border-top-left-radius: 10px;
border-top-right-radius: 10px;	
}
.chambre2 h3
{
	position: absolute;
	left: 10px;
	top: 100px;
}
.chambre2 p
{
	position: absolute;
	top: 15px;
	left: 70px;
}
.chambre2 ul
{
	position: absolute;
	top: 150px;
	left: -25px;
}

.chambre3 img
{

width: 220px;
height:100px;
object-fit: cover;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
}
.chambre3 h3
{
	position: absolute;
	left: 10px;
	top: 100px;
}
.chambre3 p
{
	position: absolute;
	top: 15px;
	left: 70px;
}
.chambre3 ul
{
	position: absolute;
	top: 150px;
	left: -25px;
}

.chambre4 img
{

width: 220px;
height:100px;
object-fit: cover;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
}
.chambre4 h3
{
	position: absolute;
	left: 10px;
	top: 100px;
}
.chambre4 p
{
	position: absolute;
	top: 15px;
	left: 70px;
}
.chambre4 ul
{
	position: absolute;
	top: 150px;
	left: -25px;
}

.chambre5 img
{
	
width: 220px;
height:100px;
object-fit: cover;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
}
.chambre5 h3
{
	position: absolute;
	left: 10px;
	top: 100px;
}
.chambre5 p
{
	position: absolute;
	top: 15px;
	left: 70px;
}
.chambre5 ul
{
	position: absolute;
	top: 150px;
	left: -25px;
}

.chambre6 img
{

width: 220px;
height:100px;
object-fit: cover;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
}
.chambre6 h3
{
	position: absolute;
	left: 10px;
	top: 100px;
}
.chambre6 p
{
	position: absolute;
	top: 15px;
	left: 70px;
}
.chambre6 ul
{
	position: absolute;
	top: 150px;
	left: -27px;
}

.nom
{
	/* display: flex; */
	font-size: 1em;
	
}

.bloc h3
{
	display: flex;
	font-size: 1em;
}

 .bloc p 
{
	display: flex;
	font-size: 0.8em;
	padding-top: 105px;
	margin-left: -60px
}

.icone_star ul li
{
	display: flex;
	/*padding-top: 118px;*/
	/*margin-left: -195px;*/
	list-style-type:none;
	font-size: 10px; 
	color:#0065FC; 

}
 .icone_star li span
{

	color:#F2F2F2;
}	
.etoile
{
	display: flex;

}

.aside .container
{
	display: flex;
	justify-content: space-evenly;
	flex-direction: column;
	align-content: center;
	width: 470px;
	height: 570px;
	padding: 0px 0px 0px 0px;
	border-radius:10px;
	background-color:#F2F2F2;
	position: relative; 
	}

.container ul
{
	display: flex;
	list-style-type:none;
	font-size:10px; 
	color:#0065FC; 
	
} 

aside .container .bloc_1 img
{
	width: 170px;
	height: 130px;
	object-fit: cover;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	display: flex;
	justify-content: space-around;
	flex-direction: column; 
}

aside .bloc_1:hover{
	transform: scale(1.2);
    transition: all 0.2s ease-in-out;
}
aside .bloc_1
{
	background-color: #fff;
	border:3px solid #fff;
	border-radius: 10px;
	margin: 5px;
	height: 130px; 
	width: 350px;
	position: relative;
}

aside .chambre7 h3
{
	font-size: 0.9em;
	position: absolute;
	left:200px; 
	top:-8px;
	z-index: 20;
}

aside .chambre7 p
{
	font-size: 0.7em;
	position: absolute;
	left: 200px;
	top:35px;
	
}

aside .chambre7 .icone_star1 ul
{
	position: absolute;
	left: 160px;
	top: 90px;
	color:#0065FC;
}

aside .chambre8 h3
{
	font-size: 0.9em;
	position: absolute;
	left:200px;
	top:-10px;
	z-index: 20;
}

aside .chambre8 p
{
	font-size: 0.7em;
	position: absolute;
	left:200px;
	top:35px;
}
aside .chambre8 .icone_star1 ul
{
	position: absolute;
	left:160px;
	top:90px;
	color:#0065FC;
}

aside .chambre8 .icone_star1 span
{
	color:#F2F2F2;
} 

aside .chambre9 h3
{
	font-size: 0.9em;
	position: absolute;
	left: 200px;
	top:-10px;
}

aside .chambre9 p
{
	font-size: 0.7em;
	position: absolute;
	left: 200px;
	top:35px;
}

aside .chambre9 .icone_star1 ul
{
	position: absolute;
	left: 160px;
	top:90px;
	color:#0065FC;	
}

aside .chambre9 .icone_star1 span
{
	color:#F2F2F2; 
}

.icon
{
	display: flex;
	justify-content: space-around;
}

.aside .icon h2
{
	font-size: 1em;
	margin-left: -5px;
	margin-right: 100px;
	z-index: 20;
	/*position: absolute;*/
	
}

.aside .icon i
{
	padding-top:10px;
	font-size: 20px;
	z-index: 20;
	/*position: absolute;*/
	
}

.activites h2
{
	font-size:0.9em;
	font-weight: bold;
	/*position: absolute;*/
	margin-left: 30px;
	margin-top: 20px;
	
	
}

.container_2
{
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	border-radius:10px;
	margin-left: 0px;
	/*background-color:red;**/
}
.container_2 .case1
{
	
	padding-left:30px;
	margin-right: 30px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	 /*background-color:green; */
}
.container_2 .case1 .sous-case1
{
	display: flex;
	flex-wrap: wrap;
	margin-right: 50px;
	justify-content: space-around;
	align-items:center;
	
	
}
.container_2 .case1 .sous-case2
{
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: space-around;
}

.container_2 .case2
{
	
	padding-left:30px;
	margin-right: 30px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	 /*background-color: blue;*/
}
.container_2 .case2 .sous-case3
{
	margin-right: 50px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items:center;
}

.container_2 .case2 .sous-case4
{
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: space-around;

}

.bloc_0:hover, 
.bloc_2:hover, 
.bloc_3:hover, 
.bloc_4:hover, 
.bloc_5:hover, 
.bloc_6:hover{
	transform: scale(1.2);
    transition: all 0.2s ease-in-out;
}

.container_2 .activités_1 img
{
	width: 300px;
	height:120px;
	object-fit: cover;
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
	
}

.container_2 .bloc_0
{
	background-color: #fff;
	border: 1px solid #fff;
	border-radius: 12px;
	height:170px; 
	width: 300px;
	margin-bottom: 30px;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
	position: relative;
}
.bloc_0 h3
{
	font-size: 0.9em;
	font-weight: bold;
	position: absolute;
	left: 10px;
	top: 120px;
}

.container_2 .activités_2 img
{
	width: 280px;
	height:90px;
	object-fit: cover;
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
}

.bloc_2
{

	background-color: #fff;
	border: 1px solid #fff;
	border-radius: 10px;
	height:140px; 
	width:280px; 
	margin-bottom: 30px;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
	position: relative;
}

.bloc_2 h3
{
	font-size: 0.9em;
	font-weight: bold;
	position: absolute;
	left: 10px;
	top: 85px;
}

.container_2 .activités_3 img
{
	width: 290px;
	height: 340px;
	object-fit: cover;
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
}

.bloc_3
{
	background-color: #fff;
	border: 1px solid #fff;
	border-style: none;
	border-radius: 10px;
	height: 390px; 
	width: 290px;
	margin-bottom: 30px;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
	position: relative;
}

.bloc_3 h3
{
	font-size: 0.9em;
	font-weight: bold;
	position: absolute;
	left: 10px;
	top: 335px;
}

.container_2 .activités_4 img
{
	width: 300px;
	height:120px;
	object-fit: cover;
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
}

.bloc_4
{
	background-color: #fff;
	border: 1px solid #fff;
	border-radius: 10px;
	height:170px; 
	width: 300px;
	margin-bottom: 30px;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
	position: relative;
}
.bloc_4 h3
{
	font-size: 0.9em;
	font-weight: bold;
	position: absolute;
	left: 10px;
	top: 120px;
}

.container_2 .activités_5 img
{
	width: 280px;
	height:160px;
	object-fit: cover;
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
}

.bloc_5
{
	background-color: #fff;
	border: 1px solid #fff;
	border-radius: 10px;
	height:200px; 
	width: 280px;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
	position: relative;
	
}

.bloc_5 h3
{
	font-size: 0.9em;
	font-weight: bold;
	position: absolute;
	left: 10px;
	top: 150px;
}

.container_2 .activités_6 img
{
	width: 290px;
	height: 340px;
	object-fit: cover;
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
}

.bloc_6
{
	background-color: #fff;
	border: 1px solid #fff;
	border-style: none;
	border-radius: 10px;
	height: 390px; 
	width: 290px;
	margin-bottom: 30px;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
	position: relative;
}

.bloc_6 h3
{
	font-size: 0.9em;
	font-weight: bold;
	position: absolute;
	left: 10px;
	top: 340px;

}
.footer 
{
	padding-top: 20px;
	padding-left: 20px;
	padding-bottom: 20px;
	background-color:#F2F2F2;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;

}

.footer h2 	
{
	font-weight: bold;
	font-size: 1.1em;
	
}

.footer ul	
{
	font-size: 0.9em;
	font-family: "raleway", time new roman, sans-serif;
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}



@media(max-width: 768px)
{
 	.bloc_page{
 		max-width: 768px;
 		width: 100%;
 		margin-left: 0px;
  	}
  	body{
  		margin: 0px;
  	}
 	.tete_de_page{
 		font-size: 1em;
  		display: flex;
  		align-items: flex-start;
  	}
  	.nav {
  		align-self: flex-end;
  	}
  	.inscription{
  		display: block;
  		justify-content: flex-end;
  		align-items: flex-end;
  		align-self: flex-start;
  		
  	}
 	
   	.search button i{
	display: block;
	}
	.search button span{
	display: none;
}

 	section{
    display: flex;
    justify-content: space-between;
   	}

.aside .icon h2{
	font-size: 0.8em;
}
.aside .icon i{
	font-size: 0.8em;
}
	aside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 37px;
    width: 100%;
    padding-left: 20px;
    order: 1;
	}
	.aside .container{
	padding-left:0px;
	width: 250px;
	height: 450px;
	padding: 0px 0px 0px 0px;
	border-radius:10px;
	background-color:#F2F2F2;
	}
	aside .bloc_1{
	background-color: #fff;
	border:3px solid #fff;
	border-radius:10px;
	margin: 5px;
	height: 100px; 
	width: 200px;
	position: relative;
	}

	aside .container .bloc_1 img{
	width: 90px;
	height: 100px;
	object-fit: cover;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
		}
	aside .chambre7 h3
	{
		font-size: 0.7em;
		position: absolute;
		left:100px; 
		top:-8px;
		z-index: 20;
	}

	aside .chambre7 p
	{
		position: absolute;
		left: 100px;
		top:35px;
		
	}

	aside .chambre7 .icone_star1 ul
	{
		position: absolute;
		left: 60px;
		top: 80px;
	}
	aside .chambre8 h3
	{
		font-size: 0.7em;
		position: absolute;
		left:100px; 
		top:-8px;
		z-index: 20;
	}

	aside .chambre8 p{
		position: absolute;
		left: 100px;
		top:35px;
	}

	aside .chambre8 .icone_star1 ul
	{
		position: absolute;
		left: 60px;
		top: 80px;
	}
	aside .chambre9 h3
	{
		font-size: 0.7em;
		position: absolute;
		left:100px; 
		top:-8px;
		z-index: 20;
	}

	aside .chambre9 p
	{
		position: absolute;
		left: 100px;
		top:35px;
		
	}

	aside .chambre9 .icone_star1 ul
	{
		position: absolute;
		left: 60px;
		top: 80px;
	}

	.heber{
	order: 2;
	}

	.heber .container{
		background-color: white;
		padding-left: 0px;
	}

	.activites h2{
		padding-left: 0px;
		padding-bottom: 10px;
	}

	.container_2{
		
		display: flex;
		justify-content: flex-start;
	}
	.case1, .case2{
		display: flex;
		flex-direction: column;
		padding-left:0px;
		margin-right: 0px;
	}
	.container_2 .case1 .sous-case1{
		margin-right: 0px;
	}
	
	.container_2 .case2 .sous-case3{
		margin-right: 0px;
	}
	.sous-case1, .sous-case3{
		margin-right: 0px;
	}
	
	.sous-case1 .bloc_6
 	{
 	width: 220px;
	height: 150px;
	position: relative;
 	}
 	.sous-case1 .bloc_6 img
 	{
 	width: 220px;
	height:100px;	
 	}
 	.sous-case1 .bloc_6 h3{
 		position: absolute;
 		left: 10px;
 		top: 100px;
 	}
 	.sous-case2 .bloc_5{
 	width: 220px;
	height: 150px;
	position: relative;
 	}
 	.sous-case2 .bloc_5 img{
 	width: 220px;
	height:100px;
 	}
 	.sous-case2 .bloc_5 h3{
 		position: absolute;
 		left: 10px;
 		top: 100px;
 	}
 	.sous-case2 .bloc_2{
 	width: 220px;
	height: 150px;
	margin-top: 30px;
	position: relative;
 	}
 	.sous-case2 .bloc_2 img{
 	width: 220px;
	height:100px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;	
 	}
 	.sous-case2 .bloc_2 h3{
 		position: absolute;
 		left: 10px;
 		top: 100px;
 	}
 			
	.sous-case4{
		marging-left:0px;
		padding-left: 0px;
	}
	.sous-case3{
		margin-left: 0px;
		padding-left: 0px;
	}
	.sous-case3 .bloc_3{
 	width: 220px;
	height: 150px;
	position: relative;
 	}
 	.sous-case3 .bloc_3 img
 	{
 	width: 220px;
	height:100px;	
 	}
 	.sous-case3 .bloc_3 h3{
 		position: absolute;
 		left: 10px;
 		top: 100px;
 	}
 	.sous-case4 .bloc_0{
 	width: 220px;
	height: 150px;
	position: relative;
 	}
 	.sous-case4 .bloc_0 img
 	{
 	width: 220px;
	height:100px;
 	}
 	.sous-case4 .bloc_0 h3{
 		position: absolute;
 		left: 10px;
 		top: 100px;
 	}
 	.sous-case4 .bloc_4{
 	width: 220px;
	height: 150px;
	position: relative;
 	}
 	.sous-case4 .bloc_4 img
 	{
 	width: 220px;
	height:100px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;	
 	}
 	.sous-case4 .bloc_4 h3{
 		position: absolute;
 		left: 10px;
 		top: 100px;
 	}

	.footer{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	
	}

	.rubrique1,
	.rubrique2,
	.rubrique3{
	padding-left: 0px;
	/*width: 100%;**/
	}
}

/*iphone 8 **/

@media(max-width: 375px){

	.bloc_page{
 		max-width: 375px;
 		width: 100%;
 		margin-left: 0px;
  	}


  	.tete_de_page{
  		display: flex;
  		align-items: flex-start;
  	}
  	nav a{
  		order: 2;
  		align-self: flex-end;
  		margin-left:15px;
  		margin-right: -20px;
  	}
  	nav{
  		display: flex;
  		width: 100%;
  		padding:0px;
  	}
  	.nav li{
  		border-bottom: 3px solid #F2F2F2;
  		padding-bottom: 15px;
  		margin-left: -20px;
  		width: 100%;
  	}
  	.nav li:hover{
  		border-bottom: 3px solid #0065fc;
  	}

  	.nav a:hover{
  	border-top: none;
	}
  	
  	.inscription{
  		align-self: flex-start;
  		position: absolute;
  		left: 270px;
  		top: 10px;
  	}
  	#logo img{
	width: 90px;
	height: 40px;
	margin-left: 15px;
	margin-top: 20px;
	}
	.filtres h2
{
	margin: 15px;
}
.renseignement h2, p{
	
	margin: 15px;
}

.recherche{
	margin: 15px;
}
.filtres
{
	margin: 15px;
}
.info
{
	margin: 15px;
}
 	
   	.search button i{
	display: block;
	}
	.search button span{
	display: none;
}

 	section{
    display: flex;
    justify-content: space-between;
   	}

.aside .icon h2{
	font-size: 1.1em;
	font-weight: bold;
}
.aside .icon i{
	font-size: 1.1em;
	font-weight: bold;
}
	aside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 37px;
    width: 100%;
    padding-left: 0px;
    order: 1;
	}
	.aside .container{
	padding-left:0px;
	width: 375px;
	height: 450px;
	padding: 0px 0px 0px 0px;
	border-radius:0px;
	background-color:#F2F2F2;
	}
	aside .bloc_1{
	background-color: #fff;
	border:3px solid #fff;
	border-radius:10px;
	margin: 5px;
	height: 100px; 
	width: 300px;
	position: relative;
	}

	aside .container .bloc_1 img{
	width: 150px;
	height: 100px;
	object-fit: cover;
	
		}
	aside .chambre7 h3
	{
		font-size: 0.7em;
		font-weight: bold;
		position: absolute;
		left:170px; 
		top:-8px;
		z-index: 20;
	}

	aside .chambre7 p
	{
		position: absolute;
		left: 155px;
		top:25px;
		
	}

	aside .chambre7 .icone_star1 ul
	{
		position: absolute;
		left: 130px;
		top: 70px;
	}
	aside .chambre8 h3
	{
		font-size: 0.7em;
		font-weight: bold;
		position: absolute;
		left:170px; 
		top:-8px;
		z-index: 20;
	}

	aside .chambre8 p
	{
		position: absolute;
		left: 155px;
		top:25px;
		
	}

	aside .chambre8 .icone_star1 ul
	{
		position: absolute;
		left: 130px;
		top: 70px;
	}
	aside .chambre9 h3
	{
		font-size: 0.7em;
		font-weight: bold;
		position: absolute;
		left:170px; 
		top:-8px;
		z-index: 20;
	}

	aside .chambre9 p
	{
		position: absolute;
		left: 155px;
		top:25px;
		
	}

	aside .chambre9 .icone_star1 ul
	{
		position: absolute;
		left: 130px;
		top: 70px;
	}

	.heber{
	order: 2;
	}
	.annonce{
		font-size: 1.5em;
		font-weight: bold;
		margin: 8px;
		margin-bottom: -20px;
	}
	.plus{
		font-size: 1.5em;
		font-weight: bolder;
		margin: 8px;
		margin-top: -10px;
	}
	.heber .container{
		background-color: white;
		padding-left: 0px;
	}

	.heber .bloc{
	width: 300px;
	margin-left:35px;
	position: relative;	
	}
	.chambre1 img,
	.chambre2 img, 
	.chambre3 img,
	.chambre4 img, 
	.chambre5 img, 
	.chambre6 img{
	width: 300px;
	height:100px;
	}
	.chambre1 h3,
	.chambre2 h3, 
	.chambre3 h3,
	.chambre4 h3, 
	.chambre5 h3, 
	.chambre6 h3{
	position: absolute;
	left: 10px;
	top: 100px;
	}
	.chambre1 p,
	.chambre2 p, 
	.chambre3 p,
	.chambre4 p, 
	.chambre5 p, 
	.chambre6 p{
	position: absolute;
	top: 20px;
	}
	

	.activites h2{
		font-size: 1.5em;
		padding-left: 10px;
		padding-bottom: 10px;
		font-weight: bold;
		}

	.container_2{
		display: flex;
		justify-content: flex-start;
		margin: 8px;
	}
	.case1, .case2{
		display: flex;
		flex-direction: column;
		padding-left:0px;
		margin-right: 0px;
	}
	.container_2 .case1 .sous-case1{
		margin-right: 0px;
	}

	.container_2 .case2 .sous-case3{
		margin-right: 0px;
	}
	.sous-case1, .sous-case3{
		margin-right: 0px;
	}
	
	.sous-case1 .bloc_6{
 	width: 300px;
	height: 180px;
	position: relative;
 	}
 	.sous-case1 .bloc_6 img{
 	width: 300px;
	height:130px;
 	}
 	.sous-case1 .bloc_6 h3{
 		position: absolute;
 		left: 10px;
 		top: 130px;
 	}
 	.sous-case2 .bloc_5{
 	width: 300px;
	height: 180px;
	position: relative;
 	}
 	.sous-case2 .bloc_5 img{
 	width: 300px;
	height:130px;
 	}
 	.sous-case2 .bloc_5 h3{
 		position: absolute;
 		left: 10px;
 		top: 130px;
 	}
 	.sous-case2 .bloc_2{
 	width: 300px;
	height: 180px;
	position: relative;
 	}
 	.sous-case2 .bloc_2 img{
 	width: 300px;
	height:130px;
 	}
 	.sous-case2 .bloc_2 h3{
 		position: absolute;
 		left: 10px;
 		top: 130px;
 	}
 			
	.sous-case4{
		marging-left:0px;
		padding-left: 0px;
	}
	.sous-case3{
		margin-left: 0px;
		padding-left: 0px;
	}
	.sous-case3 .bloc_3{
 	width: 300px;
	height: 180px;
	position: relative;
 	}
 	.sous-case3 .bloc_3 img
 	{
 	width: 300px;
	height:130px;
 	}
 	.sous-case3 .bloc_3 h3{
 		position: absolute;
 		left: 10px;
 		top: 130px;
 	}
 	.sous-case4 .bloc_0{
 	width: 300px;
	height: 180px;
	position: relative;
 	}
 	.sous-case4 .bloc_0 img
 	{
 	width: 300px;
	height:130px;
 	}
 	.sous-case4 .bloc_0 h3{
 		position: absolute;
 		left: 10px;
 		top: 130px;
 	}
 	.sous-case4 .bloc_4{
 	width: 300px;
	height: 180px;
	position: relative;
 	}
 	.sous-case4 .bloc_4 img
 	{
 	width: 300px;
	height:130px;
 	}
 	.sous-case4 .bloc_4 h3{
 		position: absolute;
 		left: 10px;
 		top: 130px;
 	}

	.footer{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	padding-left: 40px;
	}

	.rubrique1,
	.rubrique2,
	.rubrique3{
	padding-left: 0px;
	/*width: 100%;**/
	}
}